

code {
 font-size: small;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  .studentbody {
    margin: 0;
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #fff788);
    background-size: 2000% 2000%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .effect-7 {
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s;
  }
  .effect-7 ~ .focus-border:before,
  .effect-7 ~ .focus-border:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 0;
    height: px;
    background-color: #f70707;
    transition: 0.4s;
  }
  /* #4caf50 */
  .effect-7 ~ .focus-border:after {
    top: auto;
    bottom: 0;
  }
  .effect-7 ~ .focus-border i:before,
  .effect-7 ~ .focus-border i:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #f70707;
    transition: 0.6s;
  }
  .effect-7 ~ .focus-border i:after {
    left: auto;
    right: 0;
  }
  .effect-7:focus ~ .focus-border:before,
  .effect-7:focus ~ .focus-border:after {
    left: 0;
    width: 100%;
    transition: 0.4s;
  }
  .effect-7:focus ~ .focus-border i:before,
  .effect-7:focus ~ .focus-border i:after {
    top: 0;
    height: 100%;
    transition: 0.6s;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  /* h1 {
    font-family: "Geneva", cursive;
    font-weight: 400;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    position: relative;
  }
  h1:before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 22px;
  
    height: 1px;
  }
  h1 i {
    font-style: normal;
   
    position: relative;
    padding: 10px;
    
  } */
  