/* VALIDATION ERROR MESSAGE */
.error {
  color: darkred;
}
.btn {
  align-items: center;
}
.txt {
  font-size: 19px;
  color: #fc3e65;
  margin-left: 190px;

  filter: drop-shadow(6px 5px 15px #fc3e65);
}
#mainContainer {
  width: 45em;
  height: 75em;
  /* margin: 0 auto; */
  margin-top: 2%;
  margin-left: 27%;
  box-sizing: border-box;
  display: flex;
  /* background: white; */
  /* border-radius: 0.3em;  */
  /* box-shadow: 12px 12px 30px -11.9px rgba(251, 60, 96, 0.35),
    inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3); */
  transition: 0.8s;
}

#mainContainer:hover {
  transform: scale(1.1);
  transition: 0.6s;
  
}

.aside {
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  border-top-right-radius: 1.1em;
  border-bottom-right-radius: 0.1em;
  display: inline-block;
  filter: drop-shadow(5px 5px 15px #fc3e65);
  
}
.cardview {
  position: relative;
  width: 47em;
  height: 59em;
  top: 25px;
  left: 45px;
  /* margin-top: 25%; */

  border-top-left-radius: 1em;
  border-bottom-left-radius: 1.7em;
  border-top-right-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  background: linear-gradient(120deg, #fcca6e, #f97e32cc, #fc3e65);
  /* clip-path: polygon(0 0, 100% 0%, 71% 100%, 0% 100%);  */
}
.cardview {
  background-color: #ffcdd2;
  margin-left: -5%;
  margin-top: 8%;
}
#card-content {
  width: 400px;
  height: inherit;
  box-sizing: border-box;
  padding: 20px 4px;
  font-size: 15px;
}
/* label{
    margin-left: 29%;
} */

/* SUBMIT BUTTON EFFECT -START*/
button:hover {
  background-color: #ffffff;
  color: #05050579;
  border-color: #009ac9;
}
 button {
   height: 30px;
   width:65px;
  margin: 5%;
  /* font-size: 2.0rem;
  padding: 1.25rem 2.5rem; */
  display: block;
  background-color: #ecaf69;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* heading */

.wrapper1 {
  text-align: center;
}
.wrapper1 h1 {
  color: #fff;
  font-size: 32px;
  font-family: "ubuntu";
  text-transform: uppercase;
  font-weight: 700;
  /* font-family: "Josefin Sans", sans-serif; */
  font-weight: "Alegreya San";
  background: linear-gradient(to right, #248de9 10%, #25abe8 50%, #57d75b 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* clipping */

h3 {
 
  font-size: 18px;
  text-transform: uppercase;
  color: #532a03;
  /* letter-spacing: 5px; */
  font-family: "Monoton", Helvetica, sans-serif;
  margin-left:5cm;
  align-items: center;
}
.prnt{
  margin-left: 41%;
}
